[submodule "external/ImageSharp"]
	path = external/ImageSharp
	url = https://github.com/brianberns/ImageSharp.git
	branch = v3.1.11-Bernsrite
[submodule "external/Avalonia.FuncUI"]
	path = external/Avalonia.FuncUI
	url = https://github.com/brianberns/Avalonia.FuncUI.git
	branch = master
